head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  meta(name="keywords" content="отель, номер в отеле, токсин, toxin, забронировать отель")
  meta(name="description" content="Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»")
  link(rel="shortcut icon" href=require("/src/favicons/favicon.ico"))
  meta(name="apple-mobile-web-app-title" content="Hotel Toxin")
  meta(name="application-name" content="Hotel Toxin")
  meta(name="msapplication-TileColor" content="#bc9cff")
  meta(name="theme-color" content="#ffffff")
  block head
  title= title || ""