$primaryColor: darkcyan;
$secondaryColor: pink;

html{
    font-family: Montserrat;
    display: flex;
    justify-content: center;
}

h1{
    color: $secondaryColor;
    background: url("../images/PNG.png");
}