block logo

if isMainPage
  img.avatar__img(src=require("/src/assets/img/logo.svg") alt="Логотип Токсин" loading="lazy")

else
  a.mainpage-link(href="index.html")
    img.avatar__img(src=require("/src/assets/img/logo.svg") alt="Логотип Токсин" loading="lazy")